:root {
    --background-color: rgb(20, 19, 19);
    --primary-color: #f16cf3;
    --secondary-color: #4dd5c5;
    --tertiary-color: #6bf136;
    --button-color: #7b35bd;
    --text-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* styling for landing page begins */
body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 40%;
    margin: 20px 10px 20px 10px;
    font-size: 20px;
    padding: 20px;
}

.highscores {
    color: var(--primary-color);
    text-decoration: none;
}

.highscores:hover {
    background: var(--primary-color);
    color: var(--background-color);
}

.timer {
    color: var(--secondary-color);
    margin-left: auto;
}

.quiz {
    width: 75%;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5%, auto;
    border: 1px solid var(--tertiary-color);
    box-shadow: 0 0 10px var(--tertiary-color);
    padding: 10px;
    color: var(--text-color);
    justify-content: space-evenly;
}

.main-title, .main-subtitle, .instructions {
    padding: 17px;
}

.start-button {
    background-color: var(--background-color);
    border: 1px solid var(--button-color);
    font-size: 20px;
    padding: 12px;
    color: var(--text-color);
    box-shadow: 0 0 25px var(--button-color);
}

.start-button:hover {
    background-color: var(--button-color);
    color: var(--background-color);
}

/* styling for questions begins  */

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
    margin: 30px 0;
}

.btn {
    border: 1px solid var(--button-color);
    background-color: var(--background-color);
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--text-color);
    outline: none;
    font-size: 20px;
}

.quiz-content {
    padding: 20px;
    margin: 20px 20px 50px 20px;
}

.questions {
    font-size: 30px;
    color: var(--secondary-color);
}

.btn:hover {
    background-color: var(--button-color);
}

.btn.correct {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
}

.btn.wrong {
    background-color: red;
    border-color: red;
}

.hide {
    display: none;
}

.score {
    padding: 100px;}

.quiz-complete {
    color: var(--secondary-color);
    font-size: 40px;
    padding: 10px;
}

.final-score {
    font-size: 25px;
    padding: 10px;
}

.initials {
    padding: 10px;
    font-size: 20px;
}

